{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/probability.js') }}"></script>
    <style>
        .video-container {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .video-container video {
            /* Make video to at least 100% wide and tall */
            min-width: 100%;
            min-height: 100%;

            /* Setting width & height to auto prevents the browser from stretching or squishing the video */
            width: auto;
            height: auto;

            /* Center the video */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        #photon {
            width: 20%;
            height: 10%;
            position: fixed;
            left: 40%;
            background-color: red;
            z-index: 10000;
            font-size: 100px;
            text-align: center;
            border-radius: 10px;
        }

        #info {
            width: 50px;
            height: 50px;
            position: fixed;
            left: 90%;
            background-color: blue;
            z-index: 10000;

        }

        .ajs-message {
            font-size: 40px;
        }

    </style>
{% endblock %}

{% block body %}
    <div id="photon"></div>
    <div id="info" onclick="localStorage.clear();"></div>
    <div class="video-container">
        <video id="preview" style=""></video>
    </div>

    <script type="text/javascript">
        var noSleep = new NoSleep();

        function enableNoSleep() {
            noSleep.enable();
            document.removeEventListener('click', enableNoSleep, false);
        }

        // Enable wake lock.
        // (must be wrapped in a user input event handler e.g. a mouse or touch handler)
        document.addEventListener('click', enableNoSleep, false);

        alertify.set('notifier', 'position', 'bottom-center');
        alertify.set('notifier', 'delay', 2);

        Instascan.Camera.getCameras().then(function (cameras) {
            if (cameras.length > 0) {
                if (cameras.length > 1) {
                    scanner.start(cameras[1]);
                } else {
                    scanner.start(cameras[0]);
                }
            } else {
                console.error('No cameras found.');
            }
        });
        // joined game yet
        var joined = false;
        var gameId = -1;

        // -1 no photon
        // 0 unmeasured
        // 1 spin 1
        // 2 spin 2 ...
        var state = -1;

        // Sending current photon to hub
        var sending = false;

        function sendPhoton() {
            if (sending) {
                return;
            }
            alertify.message("Sending photon to hub");
            sending = true;
            var params = {
                'game': gameId,
                'photon': state
            };
            $.get("/add_photon", params, function (data) {
                if (data === true) {
                    console.log("Successfully logged photon in progress");
                    alertify.success("Photon matched!");
                    state = 0;
                    setTimeout(function () {
                        setHeading(state);
                        alertify.message("Grabbed new photon");
                    }, 2000);
                } else {
                    alertify.error("Photon not in hub");
                    console.log("not in hub")
                }
                sending = false;
            }).fail(function (data) {
                console.log("error");
                console.log(data);
                alertify.error("Something went wrong");
                sending = false;
            })
        }

        var scanner = new Instascan.Scanner({
            video: document.getElementById('preview'),
            mirror: false,
            backgroundScan: false
        });

        function setHeading(state) {
            if (state === 0) {
                var heading = "•"
            } else {
                var heading = spin_array[state - 1];
            }
            $("#photon").html(heading);
        }

        scanner.addListener('scan', function (content) {

                console.info("Read: " + content);
                if (!joined) { // Join game
                    joined = true;
                    gameId = content;
                    //assign photon spin (unknown to player)
                    state = 0; // Pick up photon
                    alertify.success("Joined game");
                    setTimeout(function () {
                        setHeading(state);
                        alertify.message("Grabbed new photon")
                    }, 2000);

                } else { // Measure station or hub
                    if (content === gameId) { // Hub
                        if (state !== 0) { // Already have photon
                            sendPhoton()
                        }
                    } else {
                        //pass in previous spin and measurement direction
                        if (state === 0) {
                            console.log("Assigned random state");
                            state = chooseSpin();
                        } else {
                            console.log("No random state assigned")
                        }
                        console.log("Old state: " + state);
                        state = measureSpin(state, content.slice(7));
                        console.log("Measured state: " + state);
                        alertify.message("Measuring...");
                        setTimeout(function () {
                            setHeading(state);
                            alertify.success("Measured");
                        }, 3000)
                    }
                }
            }
        );
        Instascan.Camera.getCameras().then(function (cameras) {
            if (cameras.length > 0) {
                if (cameras.length > 1) {
                    scanner.start(cameras[1]);
                } else {
                    scanner.start(cameras[0]);
                }
            } else {
                console.error('No cameras found.');
            }
        }).catch(function (e) {
            console.error(e);
        });
    </script>

{% endblock %}
