{% extends "base.html" %}

{% block body %}
    <div id="photon"></div>
    <br>


    <video id="preview"></video>
    <button onclick="scan()">SCAN</button>
    <script type="text/javascript">
        // joined game yet
        var joined = false;
        var gameId = -1;

        // -1 no photon
        // 0 unmeasured
        // 1 spin 1
        // 2 spin 2 ...
        var state = -1;

        // Sending current photon to hub
        var sending = false;

        function measure(station) {
            return Math.round(Math.random() * 4)
        }

        function sendPhoton() {
            var params = {
                'game': gameId,
                'photon': state
            };
            $.get("/add_photon", params, function (data) {
                if (data === true) {
                    state = -1
                } else {
                    console.log("not in hub")
                }
                sending = false;
            }).fail(function (data) {
                console.log("error");
                console.log(data);
                sending = false;
            })
        }

        function setHeading(text) {
            $("#photon").html(text);
        }

        var scanner = new Instascan.Scanner({
            continuous: false,
            video: document.getElementById('preview'),
            mirror: false,
            backgroundScan: false
        });

        function scan() {
            var result = scanner.scan();
            if (result !== null) {
                alert(result.content)
            } else {
                alert("Nothing")
            }
        }
        scanner.addListener('scan', function (content) {
{#            console.log("Scanned: " + content);#}
            alert("RAN");
            if (!joined) { // Join game
                joined = true;
                gameId = content;
                state = 0; // Pick up photon
            } else { // Measure station or hub
                if (content === gameId) { // Hub
                    if (state !== 0) { // Already have photon
                        sendPhoton()
                    } else {
                        state = 0;
                    }
                } else {
                    state = measure(content)
                }
            }
        });
        Instascan.Camera.getCameras().then(function (cameras) {
            if (cameras.length > 0) {
                if (cameras.length > 1) {
                    scanner.start(cameras[1]);
                } else {
                    scanner.start(cameras[0]);
                }
            } else {
                console.error('No cameras found.');
            }
        }).catch(function (e) {
            console.error(e);
        });
    </script>

{% endblock %}
